/* styles.css */

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Estilos del encabezado */
  header {
    background-color: #2d2d2d;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header input[type="text"] {
    background-color: #1f1f1f;
    color: white;
    padding: 0.5rem;
    border-radius: 999px;
    width: 30rem; /* Ajustar según tus necesidades */
    border: none;
    outline: none;
  }
  
  header input[type="text"]::placeholder {
    color: #a0aec0;
  }
  
  header button {
    padding: 0.5rem 1rem;
    border-radius: 999px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  header button:hover {
    background-color: #4fd1c5;
    color: white;
  }
  
  /* Estilos del contenido principal */
  main {
    padding: 1rem;
  }
  
  main h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  
  /* Estilos de los eventos destacados */
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
  
  .grid > div {
    border-radius: 0.5rem;
    overflow: hidden;
  }
  
  .grid > div > img {
    width: 100%;
    height: 12rem; /* Ajustar según tus necesidades */
    object-fit: cover;
  }
  
  .grid > div > .p-4 {
    padding: 1rem;
  }
  
  .grid > div > .p-4 h3 {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .grid > div > .p-4 p {
    margin-top: 0.5rem;
    color: #a0aec0;
  }
  
  /* Estilos específicos de cada evento destacado */
  .bg-teal-500 {
    background-color: #319795;
  }
  
  .bg-purple-500 {
    background-color: #805ad5;
  }
  
  .bg-green-500 {
    background-color: #38a169;
  }
  
  .bg-black {
    background-color: #1a202c;
  }
  
  .bg-gradient-to-r {
    background-image: linear-gradient(to right, #fuchsia, #purple);
  }
  
  .text-xl {
    font-size: 1.75rem;
  }
  
  .text-4xl {
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .text-white {
    color: white;
  }
  
  .text-gray-800 {
    color: #2d3748;
  }
  
  .text-xl {
    font-size: 1.75rem;
  }
  
  .text-2xl {
    font-size: 2rem;
  }
  
  
  .inputBox_container {
  display: flex;
  align-items: center;
  flex-direction: row;
  max-width: 14em;
  width: fit-content;
  height: fit-content;
  background-color: #5c6370;
  border-radius: 0.8em;
  overflow: hidden;
}

.search_icon {
  height: 1em;
  padding: 0 0.5em 0 0.8em;
  fill: #abb2bf;
}

.inputBox {
  background-color: transparent;
  color: #ffffff;
  outline: none;
  width: 100%;
  border: 0;
  padding: 0.5em 1.5em 0.5em 0;
  font-size: 1em;
}

::placeholder {
  color: #abb2bf;
}


